@import "../global-style/variables";

.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    .section-title {
        color: @themeColor;
        font-size: 2.25rem;
        font-weight: bold;
    }
}
