.backdrop {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.backdrop.active {
  opacity: 1;
  transition: opacity 0.15s ease-out 0.15s;
}
