@import "../../global-style/variables";

.is-contact {
    .left-side {
        flex: 0 0 100%;
        @media @largerThan600 {
            flex: 0 0 35%;
        }
    }

    .right-side {
        flex: 0 0 100%;
        max-width: 450px;
        position: relative;

        @media @largerThan600 {
            flex: 0 0 360px;
            padding: 0 0 0 3%;
        }
    }

    .contact-form {
        background: #fff;
        border: 4px solid @themeColor;
        box-shadow: 5px 5px 0 @themeColor;
        flex: 0 0 100%;
        padding: 15px 12px 20px;
        transition: transform 0.3s ease-out, opacity 0s 0.2s;

        &.fly {
            transform: translate(50%, -100vh) scale(0.1) rotate(15deg);
            opacity: 0;
            pointer-events: none;
        }

        .form-group {
            padding: 6px 0;

            &.is-address {
                display: none;
            }

            label {
                color: @themeColor;
                display: block;
                padding-bottom: 3px;
            }

            .text-input,
            textarea {
                border: 1px solid @themeColor;
                box-sizing: border-box;
                font-size: @font-medium;
                width: 100%;

                &::placeholder {
                    color: lighten(@themeColor, 20%);
                }

                &:-ms-input-placeholder {
                    color: lighten(@themeColor, 20%);
                }

                &::-ms-input-placeholder {
                    color: lighten(@themeColor, 20%);
                }
            }

            .text-input {
                height: 30px;
                padding: 0 5px;

                &:focus {
                    outline: 2px solid @themeColor;
                }
            }

            textarea {
                padding: 5px;

                &:focus {
                    outline: 2px solid @themeColor;
                }
            }

            .receive-copy-check {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;

                &:hover {
                    cursor: pointer;
                }

                input {
                    margin-right: 9px;
                }
            }

            input[type="checkbox"] {
                position: absolute;
                visibility: hidden;
                z-index: -99;

                &:checked + .dummy {
                    background: @themeColor;
                    color: #fff;
                    font-size: 22px;
                    line-height: 18px;
                }
            }

            .dummy {
                border: 1px solid @themeColor;
                height: 20px;
                margin-right: 9px;
                width: 20px;
            }
        }

        .button {
            &.is-submit {
                margin: 9px 0 0 0;
                opacity: 1;
                transition: opacity 0.15s ease-in;
                width: 100%;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .thank-you-note {
        color: @themeColor;
        font-size: @font-large;
        left: 0;
        position: absolute;
        text-align: center;
        top: 8%;
        transform: translateY(50%);
        width: 100%;

        @media @largerThan600 {
            left: 30px;
            text-align: left;
        }
    }
}
