.is-contact .left-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 600px) {
  .is-contact .left-side {
    flex: 0 0 35%;
  }
}
.is-contact .right-side {
  flex: 0 0 100%;
  max-width: 450px;
  position: relative;
}
@media only screen and (min-width: 600px) {
  .is-contact .right-side {
    flex: 0 0 360px;
    padding: 0 0 0 3%;
  }
}
.is-contact .contact-form {
  background: #fff;
  border: 4px solid #2962ff;
  box-shadow: 5px 5px 0 #2962ff;
  flex: 0 0 100%;
  padding: 15px 12px 20px;
  transition: box-shadow 0.1s, transform 0.3s ease-out 0.2s, opacity 0s 0.6s;
}
.is-contact .contact-form.fly {
  box-shadow: 0 0 0 #2962ff;
  opacity: 0;
  pointer-events: none;
  transform: translate(50%, -100vh) scale(0.1) rotate(12deg);
}
.is-contact .contact-form .form-group {
  padding: 6px 0;
}
.is-contact .contact-form .form-group.is-address {
  display: none;
}
.is-contact .contact-form .form-group label {
  color: #2962ff;
  display: block;
  padding-bottom: 4px;
}
.is-contact .contact-form .form-group .text-input,
.is-contact .contact-form .form-group textarea {
  border: 1px solid #2962ff;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
}
.is-contact .contact-form .form-group .text-input::placeholder,
.is-contact .contact-form .form-group textarea::placeholder {
  color: #8fadff;
}
.is-contact .contact-form .form-group .text-input:-ms-input-placeholder,
.is-contact .contact-form .form-group textarea:-ms-input-placeholder {
  color: #8fadff;
}
.is-contact .contact-form .form-group .text-input::-ms-input-placeholder,
.is-contact .contact-form .form-group textarea::-ms-input-placeholder {
  color: #8fadff;
}
.is-contact .contact-form .form-group .text-input {
  height: 30px;
  padding: 0 5px;
}
.is-contact .contact-form .form-group .text-input:focus {
  outline: 2px solid #2962ff;
}
.is-contact .contact-form .form-group textarea {
  padding: 5px;
}
.is-contact .contact-form .form-group textarea:focus {
  outline: 2px solid #2962ff;
}
.is-contact .contact-form .form-group input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  z-index: -99;
}
.is-contact .contact-form .form-group input[type="checkbox"]:checked + .dummy {
  background: #2962ff;
  color: #fff;
  font-size: 22px;
  line-height: 18px;
}
.is-contact .contact-form .form-group .dummy {
  border: 1px solid #2962ff;
  height: 20px;
  margin-right: 9px;
  width: 20px;
}
.is-contact .contact-form .button.is-submit {
  margin: 9px 0 0 0;
  opacity: 1;
  transition: opacity 0.15s ease-in;
  width: 100%;
}
.is-contact .contact-form .button.is-submit:hover {
  opacity: 0.8;
}
.is-contact .thank-you-note {
  color: #2962ff;
  font-size: 18px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 8%;
  transform: translateY(50%);
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .is-contact .thank-you-note {
    left: 30px;
  }
}
.is-contact .thank-you-note .error {
  color: #ff1744;
}
.is-contact.dark .contact-form {
  background: #000;
}
.is-contact.dark .text-input,
.is-contact.dark textarea {
  background: #000;
  color: #fff;
}
