.is-contact .left-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 600px) {
  .is-contact .left-side {
    flex: 0 0 35%;
  }
}
.is-contact .right-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 600px) {
  .is-contact .right-side {
    flex: 0 0 340px;
    padding: 0 0 0 3%;
  }
}
.is-contact .contact-form {
  background: #fff;
  border: 4px solid #6200ea;
  box-shadow: 5px 5px 0 #6200ea;
  flex: 0 0 100%;
  padding: 15px 12px 20px;
}
.is-contact .contact-form .form-group {
  padding: 6px 0;
  color: #6200ea;
}
.is-contact .contact-form .form-group label {
  display: block;
  padding-bottom: 3px;
}
.is-contact .contact-form .form-group .text-input,
.is-contact .contact-form .form-group textarea {
  border: 1px solid #6200ea;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
}
.is-contact .contact-form .form-group .text-input::placeholder,
.is-contact .contact-form .form-group textarea::placeholder {
  color: #9a51ff;
}
.is-contact .contact-form .form-group .text-input:-ms-input-placeholder,
.is-contact .contact-form .form-group textarea:-ms-input-placeholder {
  color: #9a51ff;
}
.is-contact .contact-form .form-group .text-input::-ms-input-placeholder,
.is-contact .contact-form .form-group textarea::-ms-input-placeholder {
  color: #9a51ff;
}
.is-contact .contact-form .form-group .text-input {
  height: 30px;
  padding: 0 5px;
}
.is-contact .contact-form .form-group .message {
  padding: 5px;
}
.is-contact .contact-form .form-group .receive-copy-check:hover {
  cursor: pointer;
}
.is-contact .contact-form .form-group .receive-copy-check input {
  margin-right: 9px;
}
.is-contact .contact-form .button.is-submit {
  margin: 9px 0 0 0;
  width: 100%;
}
