.is-projects {
  padding-bottom: 400px !important;
}
.is-projects .left-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-projects .left-side {
    flex: 0 0 35%;
  }
}
.is-projects .filter-section {
  border-color: #e91e63;
  border-radius: 3px;
  padding: 12px 15px 6px;
}
.is-projects .filter-section legend {
  font-size: 18px;
  padding: 0 12px;
}
.is-projects .filter-section .filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.is-projects .filter-section .filters label {
  align-items: center;
  background: #e91e63;
  box-shadow: 4px 4px 0 #000;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  margin: 0 15px 15px 0;
  padding: 0 15px 0 3px;
  transition: transform 0.03s ease-in, box-shadow 0.03s ease-in;
  user-select: none;
}
.is-projects .filter-section .filters label.active {
  box-shadow: 0 0 0 #000;
  transform: translate(4px, 4px);
}
.is-projects .filter-section .filters label:hover {
  cursor: pointer;
}
.is-projects .filter-section .filters label input[type="checkbox"] {
  position: absolute;
  z-index: -99;
}
.is-projects .filter-section .filters label input[type="checkbox"]:checked + .dummy {
  background: #e91e63;
  border: 3px solid #fff;
}
.is-projects .filter-section .filters label .dummy {
  background: #fff;
  display: block;
  height: 24px;
  margin-right: 9px;
  width: 24px;
}
.is-projects .projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 50px 0;
}
.is-projects .projects.right-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-projects .projects.right-side {
    flex: 0 0 60%;
  }
}
.is-projects .projects .project {
  flex: 0 0 20%;
  height: 165px;
  text-align: center;
  padding: 20px;
}
.is-projects .projects .project:hover {
  background: #e91e63;
  cursor: pointer;
}
.is-projects .projects .project:hover path,
.is-projects .projects .project:hover circle {
  fill: #fff;
}
.is-projects .projects .project:hover .separator {
  border-color: #fff;
  transform: translateY(36px);
}
.is-projects .projects .project:hover .stars {
  font-size: 16px;
  opacity: 1;
}
.is-projects .projects .project:hover .project-name {
  color: #fff;
  transform: translateY(-36px);
}
.is-projects .projects .project svg {
  width: 75px;
}
.is-projects .projects .project path,
.is-projects .projects .project circle {
  fill: #e91e63;
}
.is-projects .projects .project .separator {
  display: block;
  border-bottom: 2px solid #e91e63;
  margin: 10px auto;
  transition: transform 0.25s ease-out;
  width: 30px;
}
.is-projects .projects .project .stars {
  color: #fff;
  font-size: 0;
  opacity: 0;
  transition: opacity 0.25s ease-out 0.25s;
}
.is-projects .projects .project .project-name {
  color: #e91e63;
  font-size: 14px;
  transform: translateY(-20px);
  transition: transform 0.25s ease-out;
}
.projects {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.projects .card {
  border: 4px solid #000;
  box-shadow: 6px 6px 0 #000;
  height: 300px;
  width: 250px;
}
.projects .card .top {
  background: #ccc;
  height: 55%;
}
.projects .card .bottom {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 45%;
  justify-content: space-between;
  padding: 24px 0 6px;
  position: relative;
}
.projects .card .bottom .cta {
  background: #e91e63;
  border-radius: 3px;
  box-shadow: 4px 4px 0 #000;
  border: none;
  color: #fff;
  font-size: 14px;
  left: 50%;
  margin: 0 auto;
  padding: 6px 16px;
  position: absolute;
  top: 0;
  transform: translate(-50%, -18px);
}
.projects .card .bottom .cta:hover {
  cursor: pointer;
}
.projects .card .bottom .text-group {
  padding: 6px 0;
  text-align: center;
}
.projects .card .bottom .text-group .title {
  font-size: 18px;
}
.projects .card .bottom .text-group .separator {
  display: block;
  border-bottom: 2px solid #000;
  margin: 12px auto 9px;
  width: 35px;
}
.projects .card .bottom .text-group .desc {
  text-align: center;
  font-size: 14px;
}
.projects .card .bottom .tech-stack {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-top: 6px;
}
.projects .card .bottom .tech-stack li {
  color: #fff;
  font-size: 12px;
  height: 20px;
  margin-right: 1px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}
.projects .card .bottom .tech-stack li.js {
  background: #e91e63;
}
.projects .card .bottom .tech-stack li.markup {
  background: #ef5350;
}
.projects .card .bottom .tech-stack li.css {
  background: #26c6da;
}
