.is-projects {
  background: #f6f6f6;
}
.is-projects .left-side {
  flex: 0 0 100%;
  padding-top: 30px;
}
@media only screen and (min-width: 769px) {
  .is-projects .left-side {
    flex: 0 0 65%;
    order: 1;
    padding: 0 3% 0 0;
  }
}
.is-projects .right-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-projects .right-side {
    flex: 0 0 35%;
    order: 2;
    padding: 0;
  }
}
.is-projects .cards {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-content: space-evenly;
}
.is-projects .cards .card {
  border: 4px solid #000;
  box-shadow: 6px 6px 0 #000;
  height: 280px;
  margin: 12px;
  max-width: 350px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .is-projects .cards .card {
    width: 225px;
  }
}
.is-projects .cards .card .top {
  background: #ccc;
  height: 55%;
}
.is-projects .cards .card .bottom {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 45%;
  justify-content: space-between;
  padding: 8px 0 5px;
  position: relative;
  user-select: none;
}
.is-projects .cards .card .bottom .text-group {
  padding: 6px 9px;
  text-align: center;
}
.is-projects .cards .card .bottom .text-group .title {
  font-size: 18px;
}
.is-projects .cards .card .bottom .text-group .separator {
  display: block;
  border-bottom: 2px solid #000;
  margin: 10px auto;
  width: 35px;
}
.is-projects .cards .card .bottom .text-group .desc {
  font-size: 14px;
}
.is-projects .cards .card .bottom .tech-stack {
  bottom: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  left: 0;
  position: absolute;
}
.is-projects .cards .card .bottom .tech-stack li {
  color: #fff;
  font-size: 14px;
  height: 20px;
  margin-right: 1px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}
.is-projects .cards .card .bottom .tech-stack li.vanillajs {
  background: #6200ea;
}
.is-projects .cards .card .bottom .tech-stack li.react {
  background: green;
}
.is-projects .cards .card .bottom .tech-stack li.angular {
  background: red;
}
.is-projects .cards .card .bottom .tech-stack li.nodejs {
  background: #000;
}
.is-projects .cards .card .bottom .tech-stack li.infographic {
  background: navy;
}
.is-projects .cards .card .bottom .tech-stack li.markup {
  background: #ef5350;
}
.is-projects .cards .card .bottom .tech-stack li.sass {
  background: #26c6da;
}
.is-projects .cards .card .bottom .tech-stack li.less {
  background: peru;
}
.is-projects .cards .card .bottom .tech-stack li.cssGrid {
  background: pink;
}
.is-projects .cards .card .bottom .tech-stack li.tool {
  background: brown;
}
.is-projects .cards .card .bottom .tech-stack li.live {
  background: lawngreen;
}
.is-projects .cards .card .bottom .tech-stack li.mongodb {
  background: darkgreen;
}
.is-projects .cards .card .bottom .tech-stack li.php {
  background: rebeccapurple;
}
.is-projects .cards .card:hover {
  cursor: pointer;
}
.is-projects .cards .card:hover .cta {
  opacity: 1;
}
.backdrop {
  background: rgba(0, 0, 0, 0.45);
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
.backdrop:hover {
  cursor: pointer;
}
.backdrop .loading-wrap {
  display: none;
  text-align: center;
}
.backdrop .loading-wrap.active {
  display: block;
}
.backdrop .loading-wrap svg {
  animation: spin 3s linear infinite;
  transform-origin: center;
}
.backdrop .content {
  background: #fff;
  display: none;
}
.backdrop .content:hover {
  cursor: auto;
}
.backdrop .content.active {
  display: block;
  overflow: auto;
  max-height: 90vh;
}
.backdrop .content .hero {
  height: 300px;
  width: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
