@import "../../global-style/variables";

.is-projects {
    background: @backgroundColor;

    .left-side {
        flex: 0 0 100%;
        padding-top: 30px;

        @media @largerThan769 {
            flex: 0 0 65%;
            order: 1;
            padding: 0 3% 0 0;
        }
    }

    .right-side {
        flex: 0 0 100%;

        @media @largerThan769 {
            flex: 0 0 35%;
            order: 2;
            padding: 0;
        }
    }

    .cards {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        justify-content: space-evenly;

        .card {
            border: 4px solid #000;
            box-shadow: 6px 6px 0 #000;
            height: 280px;
            margin: 12px;
            max-width: 350px;
            width: 100%;

            @media @largerThan600 {
                width: 225px;
            }

            .top {
                background: #ccc;
                height: 55%;
            }

            .bottom {
                background: #fff;
                box-sizing: border-box;
                display: flex;
                flex-flow: column nowrap;
                height: 45%;
                justify-content: space-between;
                padding: 8px 0 5px;
                position: relative;
                user-select: none;

                .text-group {
                    padding: 6px 9px;
                    text-align: center;

                    .title {
                        font-size: @font-large;
                    }

                    .separator {
                        display: block;
                        border-bottom: 2px solid #000;
                        margin: 10px auto;
                        width: 35px;
                    }

                    .desc {
                        font-size: @font-small;
                    }
                }

                .tech-stack {
                    bottom: 4px;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    left: 0;
                    position: absolute;

                    li {
                        color: #fff;
                        font-size: @font-small;
                        height: 20px;
                        margin-right: 1px;
                        line-height: 20px;
                        text-align: center;
                        width: 20px;

                        &.vanillajs {
                            background: @themeColor;
                        }

                        &.react {
                            background: green;
                        }

                        &.angular {
                            background: red;
                        }

                        &.nodejs {
                            background: #000;
                        }

                        &.infographic {
                            background: navy;
                        }

                        &.markup {
                            background: #ef5350;
                        }

                        &.sass {
                            background: #26c6da;
                        }

                        &.less {
                            background: peru;
                        }

                        &.cssGrid {
                            background: pink;
                        }

                        &.tool {
                            background: brown;
                        }

                        &.live {
                            background: lawngreen;
                        }

                        &.mongodb {
                            background: darkgreen;
                        }

                        &.php {
                            background: rebeccapurple;
                        }
                    }
                }
            }

            &:hover {
                cursor: pointer;
                .cta {
                    opacity: 1;
                }
            }
        }
    }
}

.modal-self {
    .loading-wrap {
        display: none;
        text-align: center;

        &.active {
            display: block;
        }

        svg {
            animation: spin 3s linear infinite;
            transform-origin: center;
        }
    }

    .content {
        display: none;

        &.active {
            display: block;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
