.is-projects {
  background: #f6f6f6;
}
.is-projects .left-side {
  flex: 0 0 100%;
  padding-top: 30px;
}
@media only screen and (min-width: 769px) {
  .is-projects .left-side {
    flex: 0 0 65%;
    order: 1;
    padding: 0 3% 0 0;
  }
}
.is-projects .right-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-projects .right-side {
    flex: 0 0 35%;
    order: 2;
    padding: 0;
  }
}
.is-projects .filter-section {
  border-color: #e91e63;
  border-radius: 3px;
  padding: 12px 15px 6px;
}
.is-projects .filter-section legend {
  font-size: 18px;
  padding: 0 12px;
}
.is-projects .filter-section .filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.is-projects .filter-section .filters label {
  align-items: center;
  background: #e91e63;
  box-shadow: 4px 4px 0 #000;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  margin: 0 15px 15px 0;
  padding: 0 15px 0 3px;
  transition: transform 0.03s ease-in, box-shadow 0.03s ease-in;
  user-select: none;
}
.is-projects .filter-section .filters label.active {
  box-shadow: 0 0 0 #000;
  transform: translate(4px, 4px);
}
.is-projects .filter-section .filters label:hover {
  cursor: pointer;
}
.is-projects .filter-section .filters label input[type="checkbox"] {
  position: absolute;
  z-index: -99;
}
.is-projects .filter-section .filters label input[type="checkbox"]:checked + .dummy {
  background: #e91e63;
  border: 3px solid #fff;
}
.is-projects .filter-section .filters label .dummy {
  background: #fff;
  display: block;
  height: 24px;
  margin-right: 9px;
  width: 24px;
}
.is-projects .cards {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-content: space-evenly;
}
.is-projects .cards .card {
  border: 4px solid #000;
  box-shadow: 6px 6px 0 #000;
  height: 280px;
  margin: 12px;
  width: 225px;
}
.is-projects .cards .card .top {
  background: #ccc;
  height: 55%;
}
.is-projects .cards .card .bottom {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 45%;
  justify-content: space-between;
  padding: 8px 0 5px;
  position: relative;
  user-select: none;
}
.is-projects .cards .card .bottom .text-group {
  padding: 6px 9px;
  text-align: center;
}
.is-projects .cards .card .bottom .text-group .title {
  font-size: 18px;
}
.is-projects .cards .card .bottom .text-group .separator {
  display: block;
  border-bottom: 2px solid #000;
  margin: 10px auto;
  width: 35px;
}
.is-projects .cards .card .bottom .text-group .desc {
  font-size: 14px;
}
.is-projects .cards .card .bottom .tech-stack {
  bottom: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  left: 0;
  position: absolute;
}
.is-projects .cards .card .bottom .tech-stack li {
  color: #fff;
  font-size: 14px;
  height: 20px;
  margin-right: 1px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}
.is-projects .cards .card .bottom .tech-stack li.vanillajs {
  background: #e91e63;
}
.is-projects .cards .card .bottom .tech-stack li.react {
  background: green;
}
.is-projects .cards .card .bottom .tech-stack li.angular {
  background: red;
}
.is-projects .cards .card .bottom .tech-stack li.nodejs {
  background: #000;
}
.is-projects .cards .card .bottom .tech-stack li.infographic {
  background: navy;
}
.is-projects .cards .card .bottom .tech-stack li.markup {
  background: #ef5350;
}
.is-projects .cards .card .bottom .tech-stack li.sass {
  background: #26c6da;
}
.is-projects .cards .card .bottom .tech-stack li.less {
  background: peru;
}
.is-projects .cards .card .bottom .tech-stack li.cssGrid {
  background: pink;
}
.is-projects .cards .card .bottom .tech-stack li.tool {
  background: brown;
}
.is-projects .cards .card .bottom .tech-stack li.live {
  background: lawngreen;
}
.is-projects .cards .card .bottom .tech-stack li.mongodb {
  background: darkgreen;
}
.is-projects .cards .card .bottom .tech-stack li.php {
  background: rebeccapurple;
}
.is-projects .cards .card:hover {
  cursor: pointer;
}
.is-projects .cards .card:hover .cta {
  opacity: 1;
}
