@import "../../global-style/variables";

.is-footer {
    background: @themeColor;
    color: #fff;
    padding: 30px 0;
    text-align: center;

    @media @largerThan769 {
        text-align: left;
    }

    .copyright {
        margin-bottom: 3px;
    }
}
