@import "../../global-style/variables";

.is-footer {
    background: @themeColor;
    color: #fff;
    padding: 30px 0 20px;

    .content-wrap {
        align-items: flex-end;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .left,
        .right {
            margin-bottom: 10px;

            p {
                color: #fff;
            }
        }

        .logo {
            height: 44px;
            margin-left: auto;
            overflow: hidden;
            width: 54px;

            svg {
                transform: scale(0.5);
                transform-origin: top left;
            }
        }
    }

    &.draw {
        path {
            stroke: #fff;
            stroke-width: 1;
            stroke-dasharray: 816;
            stroke-dashoffset: 816;
            animation: strokeOffset 2s linear forwards, paintLogo 1s 2s forwards;
        }

        .logo-text {
            animation: paintLogo 2s 2s forwards;
        }
    }

    .copyright {
        margin-bottom: 3px;
    }
}

@keyframes strokeOffset {
    0% {
        stroke-dashoffset: 816;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes paintLogo {
    0% {
        fill: transparent;
    }
    100% {
        fill: #fff;
    }
}
