.is-footer {
  background: #6200ea;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}
@media only screen and (min-width: 767px) {
  .is-footer {
    text-align: left;
  }
}
.is-footer .copyright {
  margin-bottom: 3px;
}
