.is-footer {
  background: #2962ff;
  color: #fff;
  padding: 30px 0 20px;
}
.is-footer .content-wrap {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.is-footer .content-wrap .left,
.is-footer .content-wrap .right {
  margin-bottom: 10px;
}
.is-footer .content-wrap .left p,
.is-footer .content-wrap .right p {
  color: #fff;
}
.is-footer .content-wrap .left {
  flex: 0 0 100%;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .is-footer .content-wrap .left {
    flex: 0 0 50%;
    text-align: left;
  }
}
.is-footer .content-wrap .right {
  display: flex;
  flex: 0 0 100%;
  height: 44px;
  justify-content: center;
  margin-top: 10px;
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  .is-footer .content-wrap .right {
    flex: 0 0 50%;
    justify-content: flex-end;
  }
}
.is-footer .content-wrap .right svg {
  transform: scale(0.5);
  transform-origin: top right;
}
.is-footer .content-wrap .sns a {
  display: inline-block;
}
.is-footer .content-wrap .sns a:first-child {
  margin-right: 18px;
}
.is-footer .content-wrap .sns .linkedin,
.is-footer .content-wrap .sns .github {
  width: 35px;
}
.is-footer.draw path {
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 816;
  stroke-dashoffset: 816;
  animation: strokeOffset 2s linear forwards, paintLogo 1s 2s forwards;
}
.is-footer.draw .logo-text {
  animation: paintLogo 2s 2s forwards;
}
.is-footer .copyright {
  margin-bottom: 3px;
}
@keyframes strokeOffset {
  0% {
    stroke-dashoffset: 816;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes paintLogo {
  0% {
    fill: transparent;
  }
  100% {
    fill: #fff;
  }
}
