.root * ::selection {
  background: #2962ff;
  color: #fff;
}
.root h1,
.modal h1,
.root h2,
.modal h2,
.root h3,
.modal h3,
.root p,
.modal p,
.root a,
.modal a,
.root li,
.modal li,
.root button,
.modal button,
.root label,
.modal label,
.root input,
.modal input,
.root textarea,
.modal textarea {
  color: #444;
  font-family: "Quicksand", sans-serif;
}
.root .component-wrap,
.modal .component-wrap {
  overflow: hidden;
  position: relative;
}
.root .section,
.modal .section {
  padding: 50px 0;
}
@media only screen and (min-width: 769px) {
  .root .section,
  .modal .section {
    padding: 80px 0;
  }
}
.root .dark.is-hero,
.modal .dark.is-hero {
  background: #000;
}
.root .dark.section,
.modal .dark.section {
  background: #000;
}
.root .dark.section.is-education,
.modal .dark.section.is-education,
.root .dark.section.is-projects,
.modal .dark.section.is-projects {
  background: #111;
}
.root .dark .left-side .typewriter h1,
.modal .dark .left-side .typewriter h1 {
  color: #2962ff;
}
.root .dark .right-side .greetings-wrap .greetings,
.modal .dark .right-side .greetings-wrap .greetings {
  color: #2962ff;
  font-weight: bold;
}
.root .dark .title-group .subtitle,
.modal .dark .title-group .subtitle {
  color: #2962ff !important;
  font-weight: bold;
}
.root .content-wrap,
.modal .content-wrap {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
.root .content-wrap.is-side-by-side,
.modal .content-wrap.is-side-by-side {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.root .backdrop,
.modal .backdrop {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}
@media only screen and (min-width: 769px) {
  .root .backdrop,
  .modal .backdrop {
    display: none;
  }
}
.root .title-group,
.modal .title-group {
  padding-bottom: 50px;
}
.root .title-group.has-filters,
.modal .title-group.has-filters {
  padding-bottom: 15px;
}
@media only screen and (min-width: 769px) {
  .root .title-group.has-filters,
  .modal .title-group.has-filters {
    padding-bottom: 30px;
  }
}
.root .title-group .title,
.modal .title-group .title {
  color: #2962ff;
  font-size: 36px;
  font-weight: bold;
}
.root .title-group .subtitle,
.modal .title-group .subtitle {
  font-size: 18px;
  line-height: 1.35;
  padding-top: 4px;
}
.root .outline-button:focus,
.modal .outline-button:focus {
  outline: 2px solid #fff;
}
.root .outline-button:active,
.modal .outline-button:active,
.root .outline-button:visited,
.modal .outline-button:visited,
.root .outline-button:hover,
.modal .outline-button:hover {
  outline: none;
}
.root .button,
.modal .button {
  align-items: center;
  background: #fff;
  border: 3px solid #2962ff;
  bottom: 0;
  color: #2962ff;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  flex-flow: column nowrap;
  height: 40px;
  justify-content: center;
  margin: 0 6px;
  outline: none;
  padding: 0 1rem;
  position: relative;
  right: 0;
  transition: bottom 0.05s ease-in, right 0.05s ease-in, box-shadow 0.05s ease-in;
  user-select: none;
}
.root .button:hover,
.modal .button:hover {
  cursor: pointer;
}
.root .button.has-shadow,
.modal .button.has-shadow {
  box-shadow: 4px 4px 0 #2962ff;
}
.root .button.is-flat,
.modal .button.is-flat {
  background: #2962ff;
  color: #fff;
}
.root .button.is-medium,
.modal .button.is-medium {
  width: 120px;
}
.root .button.is-large,
.modal .button.is-large {
  width: 250px;
}
.root input:checked + .button,
.modal input:checked + .button {
  bottom: -4px;
  right: -4px;
  box-shadow: 1px 1px 0 #000;
}
.root .toggle-filter,
.modal .toggle-filter {
  background: #fff;
  border: 3px solid #2962ff;
  border-right: none;
  color: #2962ff;
  display: block;
  font-size: 16px;
  left: -100px;
  margin: 0 0 5px auto;
  padding: 6px 20px 6px 12px;
  position: absolute;
  top: -3px;
  transform: translateX(18px);
}
@media only screen and (min-width: 769px) {
  .root .toggle-filter,
  .modal .toggle-filter {
    display: none;
  }
}
.root .filter-section,
.modal .filter-section {
  background: #fff;
  border-color: #2962ff;
  border-style: solid;
  border-width: 3px;
  padding: 15px 15px 6px;
  position: absolute;
  right: -290px;
  top: 0;
  transition: right 0.15s ease-out;
  width: 250px;
  z-index: 30;
}
.root .filter-section.active,
.modal .filter-section.active {
  right: -6px;
  z-index: 90;
}
@media only screen and (min-width: 769px) {
  .root .filter-section,
  .modal .filter-section {
    border-width: 2px;
    position: initial;
    background: transparent;
    width: auto;
  }
}
.root .filter-section legend,
.modal .filter-section legend {
  display: none;
  font-size: 18px;
  padding: 0 12px;
}
@media only screen and (min-width: 769px) {
  .root .filter-section legend,
  .modal .filter-section legend {
    color: #2962ff;
    display: block;
  }
}
.root .filter-section .filters,
.modal .filter-section .filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.root .filter-section .filters .tag,
.modal .filter-section .filters .tag {
  align-items: center;
  border: 2px solid #2962ff;
  box-shadow: 4px 4px 0 #2962ff;
  color: #2962ff;
  display: flex;
  font-size: 18px;
  flex-flow: row nowrap;
  height: 45px;
  margin: 0 15px 15px 0;
  padding: 0 15px 0 3px;
  transition: transform 0.025s ease-in, box-shadow 0.025s ease-in;
  user-select: none;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .root .filter-section .filters .tag,
  .modal .filter-section .filters .tag {
    font-size: 16px;
    height: 30px;
    width: auto;
  }
}
.root .filter-section .filters .tag.active,
.modal .filter-section .filters .tag.active {
  box-shadow: 0 0 0 #000;
  transform: translate(4px, 4px);
}
.root .filter-section .filters .tag:hover,
.modal .filter-section .filters .tag:hover {
  cursor: pointer;
}
.root .filter-section .filters .tag input[type="checkbox"],
.modal .filter-section .filters .tag input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  z-index: -99;
}
.root .filter-section .filters .tag input[type="checkbox"]:checked + .dummy,
.modal .filter-section .filters .tag input[type="checkbox"]:checked + .dummy {
  background: #2962ff;
  transition: background 0.1s ease-in 0.12s;
}
.root .filter-section .filters .tag .dummy,
.modal .filter-section .filters .tag .dummy {
  border: 1px solid #2962ff;
  transition: background 0.1s ease-in;
  display: block;
  height: 35px;
  margin-right: 9px;
  width: 35px;
}
@media only screen and (min-width: 769px) {
  .root .filter-section .filters .tag .dummy,
  .modal .filter-section .filters .tag .dummy {
    height: 20px;
    width: 20px;
  }
}
