@yellow: #ffeb3b;
@themeColor: #e91e63;
// @themeColor: #2aaaff;
// @themeColor: #0288d1;
@backgroundColor: #f6f6f6;
@blue: #4f89c8;
@vivid-lime: #aaff00;
@vivid-orange: #fdaa00;
@vivid-pink: #fe00aa;
@vivid-purple: #a900ff;
@vivid-blue: #2aaaff;
@fem: #c02d28;
@treehouse: #42c168;
@treehouse-dark: #39ab5b;
@herzing: #1755a5;

// font size
@font-small: 14px;
@font-medium: 16px;
@font-large: 18px;
@font-lead: 24px;
@font-extra-large: 36px;

@largerThan769: ~"only screen and (min-width: 769px)";
@largerThan1024: ~"only screen and (min-width: 1024px)";
