.is-education {
  background: #f6f6f6;
}
.is-education .is-backy-side {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.is-education .title-group {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-education .title-group {
    flex: 0 0 35%;
    order: 2;
  }
}
.is-education .cards {
  display: flex;
  flex: 0 0 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media only screen and (min-width: 769px) {
  .is-education .cards {
    flex: 0 0 65%;
    order: 1;
    justify-content: flex-start;
  }
}
.is-education .two-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.is-education .card {
  position: relative;
  user-select: none;
  margin: 12px;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
  transition-delay: 0.45s;
}
.is-education .card.is-frontendmasters {
  box-shadow: 5px 5px 0 #c02d28;
}
.is-education .card.is-frontendmasters:hover {
  box-shadow: 0 0 0 #c02d28;
}
.is-education .card.is-treehouse {
  box-shadow: 5px 5px 0 #42c168;
}
.is-education .card.is-treehouse:hover {
  box-shadow: 0 0 0 #42c168;
}
.is-education .card.is-herzing {
  box-shadow: 5px 5px 0 #1755a5;
}
.is-education .card.is-herzing:hover {
  box-shadow: 0 0 0 #1755a5;
}
.is-education .card:hover {
  cursor: pointer;
  transform: translate(5px, 5px);
  transition-delay: 0s;
}
.is-education .card:hover .is-front,
.is-education .card:focus .is-front {
  transform: perspective(800px) rotateY(180deg);
}
.is-education .card:hover .is-back,
.is-education .card:focus .is-back {
  transform: perspective(800px) rotateY(0);
}
.is-education .card h3,
.is-education .card p {
  text-align: center;
  color: #fff;
}
.is-education .align-center {
  align-self: center;
}
.is-education .is-front,
.is-education .is-back {
  transition: transform 0.3s linear 0.15s;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.is-education .is-front {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  position: absolute;
  transform: perspective(800px) rotateY(0deg);
  z-index: 100;
}
.is-education .is-front img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.is-education .is-back {
  display: flex;
  background: #fff;
  transform: perspective(800px) rotateY(-180deg);
}
.is-education .is-back h3,
.is-education .is-back p {
  line-height: 1.3;
}
.is-education .is-back p {
  padding: 0 6px 0;
}
.is-education .side {
  max-width: 210px;
  height: 300px;
  width: 100%;
}
.is-education .edu-title {
  margin: 0 auto;
  width: calc(100% - 30px);
}
.is-education .separator {
  border-bottom: solid;
  border-width: 1px;
  display: block;
  margin: 14px auto;
  width: 60px;
}
.is-education .frontendmasters {
  border: 4px solid #c02d28;
}
.is-education .frontendmasters h3,
.is-education .frontendmasters p {
  color: #c02d28;
}
.is-education .frontendmasters .separator {
  border-color: #c02d28;
}
.is-education .treehouse {
  border: 4px solid #42c168;
}
.is-education .treehouse h3,
.is-education .treehouse p {
  color: #39ab5b;
}
.is-education .treehouse .separator {
  border-color: #42c168;
}
.is-education .herzing {
  border: 4px solid #1755a5;
}
.is-education .herzing h3,
.is-education .herzing p {
  color: #1755a5;
}
.is-education .herzing .separator {
  border-color: #1755a5;
}
