@import "../../global-style/variables";

.is-education {
    background: @backgroundColor;

    .is-backy-side {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .title-group {
        flex: 0 0 100%;
        @media @largerThan769 {
            flex: 0 0 35%;
            order: 2;
        }
    }

    .cards {
        display: flex;
        flex: 0 0 100%;
        flex-flow: row wrap;
        justify-content: space-around;
        @media @largerThan769 {
            flex: 0 0 65%;
            order: 1;
            justify-content: flex-start;
        }
    }

    .two-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .card {
        position: relative;
        user-select: none;
        margin: 12px;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
        transition-delay: 0.45s;

        &.is-frontendmasters {
            box-shadow: 5px 5px 0 @fem;
            &:hover {
                box-shadow: 0 0 0 @fem;
            }
        }

        &.is-treehouse {
            box-shadow: 5px 5px 0 @treehouse;
            &:hover {
                box-shadow: 0 0 0 @treehouse;
            }
        }

        &.is-herzing {
            box-shadow: 5px 5px 0 @herzing;
            &:hover {
                box-shadow: 0 0 0 @herzing;
            }
        }

        &:hover {
            cursor: pointer;
            // box-shadow: 0 0 0 transparent;
            transform: translate(5px, 5px);
            transition-delay: 0s;
        }

        &:hover,
        &:focus {
            .is-front {
                transform: perspective(800px) rotateY(180deg);
            }
            .is-back {
                transform: perspective(800px) rotateY(0);
            }
        }

        h3,
        p {
            text-align: center;
            color: #fff;
        }
    }

    .align-center {
        align-self: center;
    }

    .is-front,
    .is-back {
        transition: transform 0.3s linear 0.15s;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .is-front {
        background: #fff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        position: absolute;
        transform: perspective(800px) rotateY(0deg);
        z-index: 100;

        img {
            display: block;
            margin: 0 auto;
            width: 90%;
        }
    }

    .is-back {
        display: flex;
        background: #fff;
        transform: perspective(800px) rotateY(-180deg);

        h3,
        p {
            line-height: 1.3;
        }
        p {
            padding: 0 6px 0;
        }
    }

    .side {
        max-width: 210px;
        height: 300px;
        width: 100%;
    }

    .edu-title {
        margin: 0 auto;
        width: calc(100% - 30px);
    }

    .separator {
        border-bottom: solid;
        border-width: 2px;
        display: block;
        margin: 14px auto;
        width: 40px;
    }

    .frontendmasters {
        border: 4px solid @fem;
        h3,
        p {
            color: @fem;
        }
        .separator {
            border-color: @fem;
        }
    }

    .treehouse {
        border: 4px solid @treehouse;
        h3,
        p {
            color: @treehouse-dark;
        }
        .separator {
            border-color: @treehouse;
        }
    }

    .herzing {
        border: 4px solid @herzing;
        h3,
        p {
            color: @herzing;
        }
        .separator {
            border-color: @herzing;
        }
    }
}
