@import "../../global-style/variables";

.is-education {
    .edu-skills {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-wrap: wrap;
        -ms-flexbox-wrap: wrap;
        flex-wrap: wrap;

        h2 {
            text-align: center;
            margin-bottom: 18px;
        }
    }

    .educations {
        flex-grow: 1;
        width: 500px;
        padding: 80px 24px 0;
        -webkit-box-wrap: wrap;
        -ms-flexbox-wrap: wrap;
        flex-wrap: wrap;
    }

    @media (max-width: 767px) {
        .educations {
            padding: 80px 0 0;
        }
    }

    .cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        // -ms-perspective: 800px;
    }

    .two-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .card {
        position: relative;
        user-select: none;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;

        h3,
        p {
            text-align: center;
            color: #fff;
        }
        &:hover {
            cursor: pointer;
        }
    }

    .v-align {
        align-self: center;
    }

    .side-a,
    .side-b {
        transition: transform 1s;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .card {
        &:hover,
        &:focus {
            .side-a {
                transform: perspective(800px) rotateY(180deg);
            }
            .side-b {
                transform: perspective(800px) rotateY(0);
            }
        }
    }

    .side-a {
        background: #fff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        position: absolute;
        transform: perspective(800px) rotateY(0deg);
        z-index: 100;

        img {
            display: block;
            margin: 0 auto;
            width: 90%;
        }
    }

    .side-b {
        display: flex;
        background: #fff;
        transform: perspective(800px) rotateY(-180deg);

        h3,
        p {
            line-height: 1.3;
        }
        p {
            padding: 0 6px 0;
        }
    }

    .card-style {
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
        border-radius: 9px;
        max-width: 210px;
        height: 300px;
        margin: 20px;
        width: 100%;
    }

    .edu-title {
        margin: 0 auto;
        width: calc(100% - 30px);
    }

    .separator {
        border-bottom: solid;
        border-width: 1px;
        display: block;
        margin: 14px auto;
        width: 60px;
    }

    .frontendmasters {
        border: 4px solid @fem;
        h3,
        p {
            color: @fem;
        }
        .separator {
            border-color: @fem;
        }
    }

    .treehouse {
        border: 4px solid @treehouse;
        h3,
        p {
            color: @treehouse-dark;
        }
        .separator {
            border-color: @treehouse;
        }
    }

    .herzing {
        border: 4px solid @herzing;
        h3,
        p {
            color: @herzing;
        }
        .separator {
            border-color: @herzing;
        }
    }
}
