.is-hero {
  padding: 100px 0 80px;
}
@media only screen and (min-width: 769px) {
  .is-hero {
    padding: 120px 0 60px;
  }
}
.is-hero .left-side {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-hero .left-side {
    align-items: flex-end;
    flex: 0 0 40%;
  }
}
.is-hero .right-side {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #000;
  flex: 0 0 100%;
  height: 366px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .is-hero .right-side {
    background-position: -2px center;
    flex: 0 0 55%;
    max-width: 680px;
  }
}
.is-hero .greetings-wrap {
  padding-top: 25px;
}
@media only screen and (min-width: 769px) {
  .is-hero .greetings-wrap {
    padding-top: 0;
    position: absolute;
    top: 0;
  }
  .is-hero .greetings-wrap.slide {
    animation: 0.75s 3.25s 1 slideTextIn forwards;
    opacity: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .is-hero .greetings-wrap {
    width: 500px;
  }
}
.is-hero .clip-path {
  display: none;
  float: left;
  height: 425px;
  shape-outside: polygon(76.88% 8.83%, 87.89% 25.35%, 82.02% 36.09%, 90.91% 46.34%, 92.6% 61.75%, 98.93% 62.36%, 98.43% 72.77%, 71.82% 85.76%, 51.82% 85.79%, 49.47% 0.26%);
  width: 320px;
}
@media only screen and (min-width: 769px) {
  .is-hero .clip-path {
    display: block;
  }
}
.is-hero .sequence {
  animation: coding 1.1s steps(12, end) infinite;
  background-size: cover;
  height: 300px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 320px;
}
@media only screen and (min-width: 769px) {
  .is-hero .sequence {
    left: 0;
    transform: none;
  }
}
.is-hero .typewriter {
  padding-bottom: 50px;
  position: relative;
  width: 230px;
}
.is-hero .typewriter h1 {
  animation: typing 1s 1.75s steps(9, end) forwards, blinkCursor 1s step-end infinite;
  border-right: 0.5rem solid #fff;
  color: #000;
  font-family: monospace;
  font-size: 36px;
  letter-spacing: 0.15rem;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
  white-space: nowrap;
}
.is-hero .cta-match {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px 0;
  justify-content: center;
}
@keyframes slideTextIn {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }
  16% {
    transform: translateX(-12.27%);
  }
  28% {
    transform: translateX(13.12%);
  }
  44% {
    transform: translateX(-4.63%);
  }
  59% {
    transform: translateX(1.64%);
  }
  73% {
    transform: translateX(-0.58%);
  }
  88% {
    transform: translateX(0.2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes coding {
  100% {
    background-position: 0 -4320px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkCursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
