.is-tooling .left-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-tooling .left-side {
    flex: 0 0 35%;
  }
}
.is-tooling .left-side .star {
  color: #2962ff;
}
.is-tooling .tooling {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.is-tooling .tooling.right-side {
  flex: 0 0 100%;
  padding-top: 10px;
}
@media only screen and (min-width: 769px) {
  .is-tooling .tooling.right-side {
    flex: 0 0 65%;
    padding: 0 0 0 3%;
  }
}
.is-tooling .tooling .tool {
  flex: 0 0 50%;
  height: 165px;
  text-align: center;
  padding: 20px;
}
@media only screen and (min-width: 600px) {
  .is-tooling .tooling .tool {
    flex: 0 0 20%;
  }
}
.is-tooling .tooling .tool path.white {
  fill: #fff;
}
.is-tooling .tooling .tool:hover {
  background: #2962ff;
  cursor: pointer;
}
.is-tooling .tooling .tool:hover path,
.is-tooling .tooling .tool:hover circle {
  fill: #fff;
}
.is-tooling .tooling .tool:hover path.white {
  fill: #2962ff;
}
.is-tooling .tooling .tool:hover .separator {
  border-color: #fff;
  transform: translateY(36px);
}
.is-tooling .tooling .tool:hover .stars {
  font-size: 13px;
  letter-spacing: 3px;
  opacity: 1;
}
.is-tooling .tooling .tool:hover .tool-name {
  color: #fff;
  transform: translateY(-36px);
}
.is-tooling .tooling .tool svg {
  width: 75px;
}
.is-tooling .tooling .tool path,
.is-tooling .tooling .tool circle {
  fill: #2962ff;
}
.is-tooling .tooling .tool .separator {
  display: block;
  border-bottom: 2px solid #2962ff;
  margin: 12px auto;
  transition: transform 0.25s ease-out;
  width: 30px;
}
.is-tooling .tooling .tool .stars {
  color: #fff;
  font-size: 0;
  opacity: 0;
  transition: opacity 0.25s ease-out 0.25s;
}
.is-tooling .tooling .tool .tool-name {
  color: #2962ff;
  font-size: 14px;
  transform: translateY(-20px);
  transition: transform 0.25s ease-out;
}
