.is-education {
  background: #f6f6f6;
}
.is-education .title-group {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-education .title-group {
    flex: 0 0 35%;
    order: 2;
  }
}
.is-education .cards {
  display: flex;
  flex: 0 0 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-content: space-evenly;
}
@media only screen and (min-width: 769px) {
  .is-education .cards {
    flex: 0 0 65%;
    order: 1;
    padding-right: 3%;
  }
}
.is-education .card {
  box-shadow: 5px 5px 0 #000;
  margin: 12px;
  position: relative;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
  transition-delay: 0.45s;
  user-select: none;
  width: 210px;
}
.is-education .card.is-bell {
  box-shadow: 5px 5px 0 #00549a;
}
.is-education .card.is-bell:hover {
  box-shadow: 0 0 0 #00549a;
}
.is-education .card.is-cgi {
  box-shadow: 5px 5px 0 #c03;
}
.is-education .card.is-cgi:hover {
  box-shadow: 0 0 0 #c03;
}
.is-education .card.is-reitmans {
  box-shadow: 5px 5px 0 #000;
}
.is-education .card.is-reitmans:hover {
  box-shadow: 0 0 0 #000;
}
.is-education .card.is-jfandsons {
  box-shadow: 5px 5px 0 #6b3552;
}
.is-education .card.is-jfandsons:hover {
  box-shadow: 0 0 0 #6b3552;
}
.is-education .card:hover {
  cursor: pointer;
  box-shadow: 0 0 0 transparent;
  transform: translate(5px, 5px);
  transition-delay: 0s;
}
.is-education .card:hover .is-front,
.is-education .card:focus .is-front {
  transform: perspective(800px) rotateY(180deg);
}
.is-education .card:hover .is-back,
.is-education .card:focus .is-back {
  transform: perspective(800px) rotateY(0);
}
.is-education .card .company {
  font-size: 24px;
  font-weight: bold;
  flex: 0 0 20%;
  padding-top: 30px;
  text-align: center;
}
.is-education .card .summary {
  flex: 0 0 50%;
  text-align: center;
}
.is-education .card .summary p {
  padding-bottom: 3px;
}
.is-education .card .separator {
  border-color: #000;
}
.is-education .is-front,
.is-education .is-back {
  border: 4px solid #000;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.3s linear 0.15s;
}
.is-education .is-front {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  position: absolute;
  transform: perspective(800px) rotateY(0deg);
  z-index: 30;
}
.is-education .is-front img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.is-education .is-back {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px 10px;
  transform: perspective(800px) rotateY(-180deg);
}
.is-education .is-back p {
  padding: 0 6px 1px;
}
.is-education .side {
  height: 300px;
  width: 100%;
}
.is-education .position {
  margin: 0 auto;
  width: calc(100% - 30px);
}
.is-education .separator {
  border-bottom: solid;
  border-width: 2px;
  display: block;
  margin: 14px auto 16px;
  width: 38px;
}
.is-education .list {
  flex: 0 0 50%;
  width: 100%;
}
.is-education .list li {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  padding: 6px 12px;
}
.is-education .bell {
  border: 4px solid #00549a;
}
.is-education .bell h2,
.is-education .bell h3,
.is-education .bell p {
  color: #00549a;
}
.is-education .bell .separator {
  border-color: #00549a;
}
.is-education .bell li {
  background: #00549a;
}
.is-education .cgi {
  border: 4px solid #c03;
}
.is-education .cgi h2,
.is-education .cgi h3,
.is-education .cgi p {
  color: #c03;
}
.is-education .cgi .separator {
  border-color: #c03;
}
.is-education .cgi li {
  background: #c03;
}
.is-education .reitmans {
  border: 4px solid #000;
}
.is-education .reitmans h2,
.is-education .reitmans h3,
.is-education .reitmans p {
  color: #000;
}
.is-education .reitmans .separator {
  border-color: #000;
}
.is-education .reitmans li {
  background: #000;
}
.is-education .jfandsons {
  border: 4px solid #6b3552;
}
.is-education .jfandsons h2,
.is-education .jfandsons h3,
.is-education .jfandsons p {
  color: #6b3552;
}
.is-education .jfandsons .separator {
  border-color: #6b3552;
}
.is-education .jfandsons li {
  background: #6b3552;
}
.is-education .jfandsons .list:first-child {
  flex: 0 0 35%;
}
.is-education .jfandsons .list:last-child {
  flex: 0 0 65%;
}
