@import "../../global-style/variables";

.is-technologies {
    .left-side {
        flex: 0 0 100%;

        @media @largerThan769 {
            flex: 0 0 35%;
        }
    }

    .filter-section {
        border-color: @themeColor;
        border-radius: 3px;
        padding: 12px 15px 6px;

        legend {
            font-size: @font-large;
            padding: 0 12px;
        }

        .filters {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            label {
                align-items: center;
                background: @themeColor;
                box-shadow: 4px 4px 0 #000;
                color: #fff;
                display: flex;
                flex-flow: row nowrap;
                height: 30px;
                margin: 0 15px 15px 0;
                padding: 0 15px 0 3px;
                transition: transform 0.03s ease-in, box-shadow 0.03s ease-in;
                user-select: none;

                &.active {
                    box-shadow: 0 0 0 #000;
                    transform: translate(4px, 4px);
                }

                &:hover {
                    cursor: pointer;
                }

                input[type="checkbox"] {
                    position: absolute;
                    z-index: -99;

                    &:checked + .dummy {
                        background: @themeColor;
                        border: 3px solid #fff;
                    }
                }

                .dummy {
                    background: #fff;
                    display: block;
                    height: 24px;
                    margin-right: 9px;
                    width: 24px;
                }
            }
        }
    }

    .technologies {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        &.right-side {
            flex: 0 0 100%;
            padding-top: 30px;
            @media @largerThan769 {
                flex: 0 0 60%;
                padding: 0;
            }
        }

        .tech {
            flex: 0 0 20%;
            height: 165px;
            text-align: center;
            padding: 20px;

            &:hover {
                background: @themeColor;
                cursor: pointer;

                path,
                circle {
                    fill: #fff;
                }

                .separator {
                    border-color: #fff;
                    transform: translateY(36px);
                }

                .stars {
                    font-size: 16px;
                    opacity: 1;
                }

                .tech-name {
                    color: #fff;
                    transform: translateY(-36px);
                }
            }

            svg {
                width: 75px;
            }

            path,
            circle {
                fill: @themeColor;
            }

            .separator {
                display: block;
                border-bottom: 2px solid @themeColor;
                margin: 12px auto;
                transition: transform 0.25s ease-out;
                width: 30px;
            }

            .stars {
                color: #fff;
                font-size: 0;
                opacity: 0;
                transition: opacity 0.25s ease-out 0.25s;
            }

            .tech-name {
                color: @themeColor;
                font-size: @font-small;
                transform: translateY(-20px);
                transition: transform 0.25s ease-out;
            }
        }
    }
}
