.is-technologies .left-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-technologies .left-side {
    flex: 0 0 35%;
  }
}
.is-technologies .technologies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.is-technologies .technologies.right-side {
  flex: 0 0 100%;
  padding-top: 30px;
}
@media only screen and (min-width: 769px) {
  .is-technologies .technologies.right-side {
    flex: 0 0 65%;
    padding: 0 0 0 3%;
  }
}
.is-technologies .technologies .tech {
  flex: 0 0 20%;
  height: 165px;
  text-align: center;
  padding: 20px;
}
.is-technologies .technologies .tech:hover {
  background: #6200ea;
  cursor: pointer;
}
.is-technologies .technologies .tech:hover path,
.is-technologies .technologies .tech:hover circle {
  fill: #fff;
}
.is-technologies .technologies .tech:hover .separator {
  border-color: #fff;
  transform: translateY(36px);
}
.is-technologies .technologies .tech:hover .stars {
  font-size: 16px;
  opacity: 1;
}
.is-technologies .technologies .tech:hover .tech-name {
  color: #fff;
  transform: translateY(-36px);
}
.is-technologies .technologies .tech svg {
  width: 75px;
}
.is-technologies .technologies .tech path,
.is-technologies .technologies .tech circle {
  fill: #6200ea;
}
.is-technologies .technologies .tech .separator {
  display: block;
  border-bottom: 2px solid #6200ea;
  margin: 12px auto;
  transition: transform 0.25s ease-out;
  width: 30px;
}
.is-technologies .technologies .tech .stars {
  color: #fff;
  font-size: 0;
  opacity: 0;
  transition: opacity 0.25s ease-out 0.25s;
}
.is-technologies .technologies .tech .tech-name {
  color: #6200ea;
  font-size: 14px;
  transform: translateY(-20px);
  transition: transform 0.25s ease-out;
}
