.is-technologies .left-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-technologies .left-side {
    flex: 0 0 35%;
  }
}
.is-technologies .filter-section {
  border-color: #e91e63;
  border-radius: 3px;
  padding: 12px 15px 6px;
}
.is-technologies .filter-section legend {
  font-size: 18px;
  padding: 0 12px;
}
.is-technologies .filter-section .filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.is-technologies .filter-section .filters label {
  align-items: center;
  background: #e91e63;
  box-shadow: 4px 4px 0 #000;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  margin: 0 15px 15px 0;
  padding: 0 15px 0 3px;
  transition: transform 0.03s ease-in, box-shadow 0.03s ease-in;
  user-select: none;
}
.is-technologies .filter-section .filters label.active {
  box-shadow: 0 0 0 #000;
  transform: translate(4px, 4px);
}
.is-technologies .filter-section .filters label:hover {
  cursor: pointer;
}
.is-technologies .filter-section .filters label input[type="checkbox"] {
  position: absolute;
  z-index: -99;
}
.is-technologies .filter-section .filters label input[type="checkbox"]:checked + .dummy {
  background: #e91e63;
  border: 3px solid #fff;
}
.is-technologies .filter-section .filters label .dummy {
  background: #fff;
  display: block;
  height: 24px;
  margin-right: 9px;
  width: 24px;
}
.is-technologies .technologies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.is-technologies .technologies.right-side {
  flex: 0 0 100%;
  padding-top: 30px;
}
@media only screen and (min-width: 769px) {
  .is-technologies .technologies.right-side {
    flex: 0 0 65%;
    padding: 0 0 0 3%;
  }
}
.is-technologies .technologies .tech {
  flex: 0 0 20%;
  height: 165px;
  text-align: center;
  padding: 20px;
}
.is-technologies .technologies .tech:hover {
  background: #e91e63;
  cursor: pointer;
}
.is-technologies .technologies .tech:hover path,
.is-technologies .technologies .tech:hover circle {
  fill: #fff;
}
.is-technologies .technologies .tech:hover .separator {
  border-color: #fff;
  transform: translateY(36px);
}
.is-technologies .technologies .tech:hover .stars {
  font-size: 16px;
  opacity: 1;
}
.is-technologies .technologies .tech:hover .tech-name {
  color: #fff;
  transform: translateY(-36px);
}
.is-technologies .technologies .tech svg {
  width: 75px;
}
.is-technologies .technologies .tech path,
.is-technologies .technologies .tech circle {
  fill: #e91e63;
}
.is-technologies .technologies .tech .separator {
  display: block;
  border-bottom: 2px solid #e91e63;
  margin: 12px auto;
  transition: transform 0.25s ease-out;
  width: 30px;
}
.is-technologies .technologies .tech .stars {
  color: #fff;
  font-size: 0;
  opacity: 0;
  transition: opacity 0.25s ease-out 0.25s;
}
.is-technologies .technologies .tech .tech-name {
  color: #e91e63;
  font-size: 14px;
  transform: translateY(-20px);
  transition: transform 0.25s ease-out;
}
