@import "../../global-style/variables";

.is-technologies {
    .technologies {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .tech {
            .icon {
                width: 75px;
            }
        }
    }
}
