.is-toolset .left-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-toolset .left-side {
    flex: 0 0 35%;
  }
}
.is-toolset .toolset {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.is-toolset .toolset.right-side {
  flex: 0 0 100%;
  padding-top: 10px;
}
@media only screen and (min-width: 769px) {
  .is-toolset .toolset.right-side {
    flex: 0 0 65%;
    padding: 0 0 0 3%;
  }
}
.is-toolset .toolset .tool {
  flex: 0 0 20%;
  height: 165px;
  text-align: center;
  padding: 20px;
}
.is-toolset .toolset .tool:hover {
  background: #6200ea;
  cursor: pointer;
}
.is-toolset .toolset .tool:hover path,
.is-toolset .toolset .tool:hover circle {
  fill: #fff;
}
.is-toolset .toolset .tool:hover .separator {
  border-color: #fff;
  transform: translateY(36px);
}
.is-toolset .toolset .tool:hover .stars {
  font-size: 16px;
  opacity: 1;
}
.is-toolset .toolset .tool:hover .tool-name {
  color: #fff;
  transform: translateY(-36px);
}
.is-toolset .toolset .tool svg {
  width: 75px;
}
.is-toolset .toolset .tool path,
.is-toolset .toolset .tool circle {
  fill: #6200ea;
}
.is-toolset .toolset .tool .separator {
  display: block;
  border-bottom: 2px solid #6200ea;
  margin: 12px auto;
  transition: transform 0.25s ease-out;
  width: 30px;
}
.is-toolset .toolset .tool .stars {
  color: #fff;
  font-size: 0;
  opacity: 0;
  transition: opacity 0.25s ease-out 0.25s;
}
.is-toolset .toolset .tool .tool-name {
  color: #6200ea;
  font-size: 14px;
  transform: translateY(-20px);
  transition: transform 0.25s ease-out;
}
