.header {
  background: #2962ff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 35;
}
.header.high-z-index {
  z-index: 100;
}
.header .nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
  justify-content: space-between;
  padding: 0 6px;
}
@media only screen and (min-width: 769px) {
  .header .nav {
    height: 58px;
  }
}
.header .nav .nav-left {
  flex: 0 0 80px;
  height: 35px;
  overflow: hidden;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-left {
    height: 43px;
  }
}
.header .nav .nav-left .logo {
  width: 54px;
}
.header .nav .nav-left svg {
  transform: scale(0.4);
  transform-origin: top left;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-left svg {
    transform: scale(0.5);
  }
}
.header .nav .nav-left path {
  fill: #fff;
}
.header .nav .nav-right {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 calc(100% - 150px);
  justify-content: flex-end;
}
.header .nav .nav-right .social-links {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100px;
  justify-content: space-around;
  margin-right: 5px;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .social-links {
    flex: 0 0 110px;
    margin-right: 15px;
  }
}
.header .nav .nav-right .social-links a {
  display: block;
  text-align: center;
}
.header .nav .nav-right .social-links img {
  width: 28px;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .social-links img {
    width: 35px;
  }
}
.header .nav .nav-right .social-each {
  flex: 0 0 50%;
  height: 28px;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .social-each {
    height: 35px;
  }
}
.header .nav .nav-right .menu-toggle {
  background: transparent;
  border: none;
  color: #2962ff;
  padding-top: 4px;
}
.header .nav .nav-right .menu-toggle img {
  width: 32px;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-toggle {
    display: none;
  }
}
.header .nav .nav-right .menu-pane {
  background: #2962ff;
  border: 4px solid #2962ff;
  border-width: 0 0 4px 4px;
  height: calc(100vh - 48px);
  max-width: 250px;
  position: absolute;
  right: -250px;
  top: 48px;
  transition: right 0.15s ease-out;
  width: 100%;
}
.header .nav .nav-right .menu-pane.active {
  right: 0;
  z-index: 100;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-pane {
    border: none;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 50%;
    height: auto;
    justify-content: flex-end;
    margin-top: -5px;
    max-width: none;
    position: initial;
    width: 100%;
  }
  .header .nav .nav-right .menu-pane label:hover {
    cursor: pointer;
  }
}
.header .nav .nav-right .menu-pane .is-menu-item {
  box-shadow: none;
  border-width: 0 0 4px 0;
  font-size: 18px;
  height: 70px;
  margin: 0;
  width: 100%;
  white-space: nowrap;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-pane .is-menu-item {
    border: 3px solid #001f76;
    box-shadow: 4px 4px 0 #001f76;
    color: #001f76;
    font-size: 16px;
    height: 40px;
    margin: 0 6px;
    transition: translate 0.05s ease-in box-shadow 0.05s ease-in;
  }
  .header .nav .nav-right .menu-pane .is-menu-item.active {
    box-shadow: 0 0 0 #2962ff;
    transform: translate(4px, 4px);
  }
}
