.header {
  background: #fff;
  border-bottom: 5px solid #000;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header .nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  position: relative;
  justify-content: space-between;
}
@media only screen and (min-width: 769px) {
  .header .nav {
    height: 58px;
  }
}
.header .nav path {
  stroke: #e91e63;
  stroke-width: 1;
  stroke-dasharray: 816;
  stroke-dashoffset: 816;
  animation: strokeOffset 2s linear forwards, paintLogo 1s 2s forwards;
}
.header .nav .logo-text {
  animation: paintLogo 2s 2s forwards;
}
.header .nav .nav-left {
  flex: 0 0 80px;
  height: 45px;
}
.header .nav .nav-left .logo {
  transform: scale(0.5);
  transform-origin: top left;
}
.header .nav .nav-right {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 calc(100% - 150px);
  justify-content: flex-end;
}
.header .nav .nav-right .social-links {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100px;
  justify-content: space-around;
  margin: 0 10px -5px;
}
.header .nav .nav-right .social-links img {
  width: 30px;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-button {
    display: none;
  }
}
.header .nav .nav-right .menu-pane {
  display: none;
}
.header .nav .nav-right .menu-pane.active {
  background: rgba(0, 0, 0, 0.85);
  display: block;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 55px;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-pane {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 50%;
    justify-content: flex-end;
    margin-top: -5px;
  }
  .header .nav .nav-right .menu-pane label:hover {
    cursor: pointer;
  }
}
@keyframes strokeOffset {
  0% {
    stroke-dashoffset: 816;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes paintLogo {
  0% {
    fill: transparent;
  }
  100% {
    fill: #e91e63;
  }
}
