.header {
  background: #fff;
  border-bottom: 4px solid #6200ea;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header .nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  position: relative;
  justify-content: space-between;
}
@media only screen and (min-width: 769px) {
  .header .nav {
    height: 58px;
  }
}
.header .nav path {
  stroke: #6200ea;
  stroke-width: 1;
  stroke-dasharray: 816;
  stroke-dashoffset: 816;
  animation: strokeOffset 2s linear forwards, paintLogo 1s 2s forwards;
}
.header .nav .logo-text {
  animation: paintLogo 2s 2s forwards;
}
.header .nav .nav-left {
  flex: 0 0 80px;
  height: 45px;
}
.header .nav .nav-left .logo {
  width: 54px;
}
.header .nav .nav-left .logo svg {
  transform: scale(0.5);
  transform-origin: top left;
}
.header .nav .nav-right {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 calc(100% - 150px);
  justify-content: flex-end;
}
.header .nav .nav-right .social-links {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100px;
  height: 35px;
  justify-content: space-around;
  margin: 0 10px -5px;
}
.header .nav .nav-right .social-links img {
  width: 32px;
}
.header .nav .nav-right .menu-toggle {
  background: #fff;
  border: none;
  color: #6200ea;
  padding-top: 4px;
}
.header .nav .nav-right .menu-toggle img {
  width: 32px;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-toggle {
    display: none;
  }
}
.header .nav .nav-right .menu-pane {
  background: #fff;
  border: 4px solid #6200ea;
  border-width: 0 0 4px 4px;
  height: calc(100vh - 54px);
  max-width: 250px;
  position: absolute;
  right: -250px;
  top: 54px;
  transition: right 0.15s ease-out;
  width: 100%;
}
.header .nav .nav-right .menu-pane.active {
  right: 0;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-pane {
    border: none;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 50%;
    height: auto;
    justify-content: flex-end;
    margin-top: -5px;
    max-width: none;
    position: initial;
    width: 100%;
  }
  .header .nav .nav-right .menu-pane label:hover {
    cursor: pointer;
  }
}
.header .nav .nav-right .menu-pane .is-menu-item {
  box-shadow: none;
  border-width: 0 0 4px 0;
  font-size: 18px;
  height: 70px;
  margin: 0;
  width: 100%;
  white-space: nowrap;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-pane .is-menu-item {
    border: 3px solid #6200ea;
    box-shadow: 4px 4px 0 #6200ea;
    font-size: 16px;
    height: 40px;
    margin: 0 6px;
  }
}
@keyframes strokeOffset {
  0% {
    stroke-dashoffset: 816;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes paintLogo {
  0% {
    fill: transparent;
  }
  100% {
    fill: #6200ea;
  }
}
