@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("./fonts/quicksand-v20-latin-regular.woff") format("woff"),
        url("./fonts/quicksand-v20-latin-regular.woff2") format("woff2");
}

@import "./global-style/reset.less";
@import "./global-style/general.less";
@import "./global-style/tooltip.less";
// @import "./components/contact/contact.less";
// @import "./components/footer/footer.less";
// @import "./components/header/header.less";
// @import "./components/hero/hero.less";
// @import "./components/modal/modal.less";
// @import "./components/projects/projects.less";
// @import "./components/toolset/toolset.less";
// @import "./components/workLog/worklog.less";
