@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/quicksand-v20-latin-regular.woff") format("woff"), url("fonts/quicksand-v20-latin-regular.woff2") format("woff2");
}
/* ========== Reset Styles =========== */
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
em,
img,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
embed,
figure,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
figure,
footer,
header,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.25;
}
.root * ::selection {
  background: #2962ff;
  color: #fff;
}
.root h1,
.modal h1,
.root h2,
.modal h2,
.root h3,
.modal h3,
.root p,
.modal p,
.root a,
.modal a,
.root li,
.modal li,
.root button,
.modal button,
.root label,
.modal label,
.root input,
.modal input,
.root textarea,
.modal textarea {
  color: #444;
  font-family: "Quicksand", sans-serif;
}
.root .component-wrap,
.modal .component-wrap {
  overflow: hidden;
  position: relative;
}
.root .section,
.modal .section {
  padding: 50px 0;
}
@media only screen and (min-width: 769px) {
  .root .section,
  .modal .section {
    padding: 80px 0;
  }
}
.root .content-wrap,
.modal .content-wrap {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
.root .content-wrap.is-side-by-side,
.modal .content-wrap.is-side-by-side {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.root .backdrop,
.modal .backdrop {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}
@media only screen and (min-width: 769px) {
  .root .backdrop,
  .modal .backdrop {
    display: none;
  }
}
.root .title-group,
.modal .title-group {
  padding-bottom: 50px;
}
.root .title-group.has-filters,
.modal .title-group.has-filters {
  padding-bottom: 15px;
}
@media only screen and (min-width: 769px) {
  .root .title-group.has-filters,
  .modal .title-group.has-filters {
    padding-bottom: 30px;
  }
}
.root .title-group .title,
.modal .title-group .title {
  color: #2962ff;
  font-size: 36px;
  font-weight: bold;
}
.root .title-group .subtitle,
.modal .title-group .subtitle {
  font-size: 18px;
  line-height: 1.35;
  padding-top: 4px;
}
.root .outline-button:focus,
.modal .outline-button:focus {
  outline: 2px solid #6200ea;
}
.root .outline-button:active,
.modal .outline-button:active,
.root .outline-button:visited,
.modal .outline-button:visited,
.root .outline-button:hover,
.modal .outline-button:hover {
  outline: none;
}
.root .button,
.modal .button {
  align-items: center;
  background: #fff;
  border: 3px solid #2962ff;
  bottom: 0;
  color: #2962ff;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  flex-flow: column nowrap;
  height: 40px;
  justify-content: center;
  margin: 0 6px;
  outline: none;
  padding: 0 1rem;
  position: relative;
  right: 0;
  transition: bottom 0.05s ease-in, right 0.05s ease-in, box-shadow 0.05s ease-in;
  user-select: none;
}
.root .button:hover,
.modal .button:hover {
  cursor: pointer;
}
.root .button.has-shadow,
.modal .button.has-shadow {
  box-shadow: 4px 4px 0 #2962ff;
}
.root .button.is-flat,
.modal .button.is-flat {
  background: #2962ff;
  color: #fff;
}
.root .button.is-medium,
.modal .button.is-medium {
  width: 120px;
}
.root .button.is-large,
.modal .button.is-large {
  width: 250px;
}
.root input:checked + .button,
.modal input:checked + .button {
  bottom: -4px;
  right: -4px;
  box-shadow: 1px 1px 0 #000;
}
.root .toggle-filter,
.modal .toggle-filter {
  background: #fff;
  border: 3px solid #2962ff;
  border-right: none;
  color: #2962ff;
  display: block;
  font-size: 16px;
  left: -100px;
  margin: 0 0 5px auto;
  padding: 6px 20px 6px 12px;
  position: absolute;
  top: -3px;
  transform: translateX(18px);
}
@media only screen and (min-width: 769px) {
  .root .toggle-filter,
  .modal .toggle-filter {
    display: none;
  }
}
.root .filter-section,
.modal .filter-section {
  background: #fff;
  border-color: #2962ff;
  border-width: 3px;
  padding: 15px 15px 6px;
  position: absolute;
  right: -290px;
  top: 0;
  transition: right 0.15s ease-out;
  width: 250px;
  z-index: 30;
}
.root .filter-section.active,
.modal .filter-section.active {
  right: -6px;
  z-index: 90;
}
@media only screen and (min-width: 769px) {
  .root .filter-section,
  .modal .filter-section {
    border-width: 2px;
    position: initial;
    background: transparent;
    width: auto;
  }
}
.root .filter-section legend,
.modal .filter-section legend {
  display: none;
  font-size: 18px;
  padding: 0 12px;
}
@media only screen and (min-width: 769px) {
  .root .filter-section legend,
  .modal .filter-section legend {
    color: #2962ff;
    display: block;
  }
}
.root .filter-section .filters,
.modal .filter-section .filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.root .filter-section .filters .tag,
.modal .filter-section .filters .tag {
  align-items: center;
  border: 2px solid #2962ff;
  box-shadow: 4px 4px 0 #2962ff;
  color: #2962ff;
  display: flex;
  font-size: 18px;
  flex-flow: row nowrap;
  height: 45px;
  margin: 0 15px 15px 0;
  padding: 0 15px 0 3px;
  transition: transform 0.025s ease-in, box-shadow 0.025s ease-in;
  user-select: none;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .root .filter-section .filters .tag,
  .modal .filter-section .filters .tag {
    font-size: 16px;
    height: 30px;
    width: auto;
  }
}
.root .filter-section .filters .tag.active,
.modal .filter-section .filters .tag.active {
  box-shadow: 0 0 0 #000;
  transform: translate(4px, 4px);
}
.root .filter-section .filters .tag:hover,
.modal .filter-section .filters .tag:hover {
  cursor: pointer;
}
.root .filter-section .filters .tag input[type="checkbox"],
.modal .filter-section .filters .tag input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  z-index: -99;
}
.root .filter-section .filters .tag input[type="checkbox"]:checked + .dummy,
.modal .filter-section .filters .tag input[type="checkbox"]:checked + .dummy {
  background: #2962ff;
  transition: background 0.1s ease-in 0.12s;
}
.root .filter-section .filters .tag .dummy,
.modal .filter-section .filters .tag .dummy {
  border: 1px solid #2962ff;
  transition: background 0.1s ease-in;
  display: block;
  height: 35px;
  margin-right: 9px;
  width: 35px;
}
@media only screen and (min-width: 769px) {
  .root .filter-section .filters .tag .dummy,
  .modal .filter-section .filters .tag .dummy {
    height: 20px;
    width: 20px;
  }
}
.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}
.tooltip:before {
  border-color: #2962ff transparent transparent transparent;
  border-style: solid;
  border-width: 12px 10px 0 10px;
  bottom: 100%;
  content: "";
  margin-left: -8px;
  transform: scale(0.6) translateY(-90%);
  transition: all 0.6s cubic-bezier(0.85, -0.18, 0.31, 1.26), opacity 0.65s 0.5s;
}
.tooltip:after {
  background: #2962ff;
  border-radius: 3px;
  bottom: 31px;
  color: #fff;
  content: attr(data-tip);
  font-size: 16px;
  margin-left: -8px;
  padding: 12px;
  transform: scale(0.6) translateY(50%);
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
  width: 80px;
}
@media only screen and (min-width: 600px) {
  .tooltip:after {
    margin-left: -48px;
  }
}
.tooltip:hover {
  cursor: help;
}
.tooltip:hover:before,
.tooltip:focus:before,
.tooltip:hover:after,
.tooltip:focus:after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}
.tooltip:hover:before,
.tooltip:focus:before {
  transition-delay: 0.2s;
}
.tooltip:hover:after,
.tooltip:focus:after {
  transition-delay: 0s;
}
.is-contact .left-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 600px) {
  .is-contact .left-side {
    flex: 0 0 35%;
  }
}
.is-contact .right-side {
  flex: 0 0 100%;
  max-width: 450px;
  position: relative;
}
@media only screen and (min-width: 600px) {
  .is-contact .right-side {
    flex: 0 0 360px;
    padding: 0 0 0 3%;
  }
}
.is-contact .contact-form {
  background: #fff;
  border: 4px solid #2962ff;
  box-shadow: 5px 5px 0 #2962ff;
  flex: 0 0 100%;
  padding: 15px 12px 20px;
  transition: transform 0.3s ease-out, opacity 0s 0.2s;
}
.is-contact .contact-form.fly {
  transform: translate(50%, -100vh) scale(0.1) rotate(15deg);
  opacity: 0;
  pointer-events: none;
}
.is-contact .contact-form .form-group {
  padding: 6px 0;
}
.is-contact .contact-form .form-group.is-address {
  display: none;
}
.is-contact .contact-form .form-group label {
  color: #2962ff;
  display: block;
  padding-bottom: 3px;
}
.is-contact .contact-form .form-group .text-input,
.is-contact .contact-form .form-group textarea {
  border: 1px solid #2962ff;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
}
.is-contact .contact-form .form-group .text-input::placeholder,
.is-contact .contact-form .form-group textarea::placeholder {
  color: #8fadff;
}
.is-contact .contact-form .form-group .text-input:-ms-input-placeholder,
.is-contact .contact-form .form-group textarea:-ms-input-placeholder {
  color: #8fadff;
}
.is-contact .contact-form .form-group .text-input::-ms-input-placeholder,
.is-contact .contact-form .form-group textarea::-ms-input-placeholder {
  color: #8fadff;
}
.is-contact .contact-form .form-group .text-input {
  height: 30px;
  padding: 0 5px;
}
.is-contact .contact-form .form-group .text-input:focus {
  outline: 2px solid #2962ff;
}
.is-contact .contact-form .form-group textarea {
  padding: 5px;
}
.is-contact .contact-form .form-group textarea:focus {
  outline: 2px solid #2962ff;
}
.is-contact .contact-form .form-group .receive-copy-check {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
.is-contact .contact-form .form-group .receive-copy-check:hover {
  cursor: pointer;
}
.is-contact .contact-form .form-group .receive-copy-check input {
  margin-right: 9px;
}
.is-contact .contact-form .form-group input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  z-index: -99;
}
.is-contact .contact-form .form-group input[type="checkbox"]:checked + .dummy {
  background: #2962ff;
  color: #fff;
  font-size: 22px;
  line-height: 18px;
}
.is-contact .contact-form .form-group .dummy {
  border: 1px solid #2962ff;
  height: 20px;
  margin-right: 9px;
  width: 20px;
}
.is-contact .contact-form .button.is-submit {
  margin: 9px 0 0 0;
  opacity: 1;
  transition: opacity 0.15s ease-in;
  width: 100%;
}
.is-contact .contact-form .button.is-submit:hover {
  opacity: 0.8;
}
.is-contact .thank-you-note {
  color: #2962ff;
  font-size: 18px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 8%;
  transform: translateY(50%);
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .is-contact .thank-you-note {
    left: 30px;
    text-align: left;
  }
}
.is-footer {
  background: #2962ff;
  color: #fff;
  padding: 30px 0 20px;
}
.is-footer .content-wrap {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.is-footer .content-wrap .left,
.is-footer .content-wrap .right {
  margin-bottom: 10px;
}
.is-footer .content-wrap .left p,
.is-footer .content-wrap .right p {
  color: #fff;
}
.is-footer .content-wrap .logo {
  height: 44px;
  margin-left: auto;
  overflow: hidden;
  width: 54px;
}
.is-footer .content-wrap .logo svg {
  transform: scale(0.5);
  transform-origin: top left;
}
.is-footer.draw path {
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 816;
  stroke-dashoffset: 816;
  animation: strokeOffset 2s linear forwards, paintLogo 1s 2s forwards;
}
.is-footer.draw .logo-text {
  animation: paintLogo 2s 2s forwards;
}
.is-footer .copyright {
  margin-bottom: 3px;
}
@keyframes strokeOffset {
  0% {
    stroke-dashoffset: 816;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes paintLogo {
  0% {
    fill: transparent;
  }
  100% {
    fill: #fff;
  }
}
.header {
  background: #fff;
  border-bottom: 4px solid #2962ff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 35;
}
.header.high-z-index {
  z-index: 100;
}
.header .nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  justify-content: space-between;
  padding: 0 6px;
}
@media only screen and (min-width: 769px) {
  .header .nav {
    height: 58px;
  }
}
.header .nav .nav-left {
  flex: 0 0 80px;
  height: 35px;
  overflow: hidden;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-left {
    height: 43px;
  }
}
.header .nav .nav-left .logo {
  width: 54px;
}
.header .nav .nav-left svg {
  transform: scale(0.4);
  transform-origin: top left;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-left svg {
    transform: scale(0.5);
  }
}
.header .nav .nav-left path {
  fill: #2962ff;
}
.header .nav .nav-right {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 calc(100% - 150px);
  justify-content: flex-end;
}
.header .nav .nav-right .social-links {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 120px;
  justify-content: space-around;
}
.header .nav .nav-right .social-links img {
  width: 28px;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .social-links img {
    width: 35px;
  }
}
.header .nav .nav-right .social-each {
  flex: 0 0 50%;
  height: 28px;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .social-each {
    height: 35px;
  }
}
.header .nav .nav-right .menu-toggle {
  background: #fff;
  border: none;
  color: #2962ff;
  padding-top: 4px;
}
.header .nav .nav-right .menu-toggle img {
  width: 32px;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-toggle {
    display: none;
  }
}
.header .nav .nav-right .menu-pane {
  background: #fff;
  border: 4px solid #2962ff;
  border-width: 0 0 4px 4px;
  height: calc(100vh - 44px);
  max-width: 250px;
  position: absolute;
  right: -250px;
  top: 44px;
  transition: right 0.15s ease-out;
  width: 100%;
}
.header .nav .nav-right .menu-pane.active {
  right: 0;
  z-index: 100;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-pane {
    border: none;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 50%;
    height: auto;
    justify-content: flex-end;
    margin-top: -5px;
    max-width: none;
    position: initial;
    width: 100%;
  }
  .header .nav .nav-right .menu-pane label:hover {
    cursor: pointer;
  }
}
.header .nav .nav-right .menu-pane .is-menu-item {
  box-shadow: none;
  border-width: 0 0 4px 0;
  font-size: 18px;
  height: 70px;
  margin: 0;
  width: 100%;
  white-space: nowrap;
}
@media only screen and (min-width: 769px) {
  .header .nav .nav-right .menu-pane .is-menu-item {
    border: 3px solid #2962ff;
    box-shadow: 4px 4px 0 #2962ff;
    font-size: 16px;
    height: 40px;
    margin: 0 6px;
    transition: translate 0.05s ease-in box-shadow 0.05s ease-in;
  }
  .header .nav .nav-right .menu-pane .is-menu-item.active {
    box-shadow: 0 0 0 #2962ff;
    transform: translate(4px, 4px);
  }
}
.is-hero {
  padding: 100px 0 50px;
}
@media only screen and (min-width: 769px) {
  .is-hero {
    padding: 120px 0 60px;
  }
}
.is-hero .left-side {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-hero .left-side {
    align-items: flex-end;
    flex: 0 0 40%;
  }
}
.is-hero .right-side {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #000;
  flex: 0 0 100%;
  height: 366px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .is-hero .right-side {
    background-position: -2px center;
    flex: 0 0 55%;
    max-width: 680px;
  }
}
.is-hero .greetings-wrap {
  padding-top: 25px;
}
@media only screen and (min-width: 769px) {
  .is-hero .greetings-wrap {
    padding-top: 0;
    position: absolute;
    top: 0;
  }
  .is-hero .greetings-wrap.slide {
    animation: 0.75s 3.25s 1 slideTextIn forwards;
    opacity: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .is-hero .greetings-wrap {
    width: 500px;
  }
}
.is-hero .greetings-wrap .greetings {
  font-size: 18px;
  line-height: 1.35;
}
.is-hero .clip-path {
  display: none;
  float: left;
  height: 425px;
  shape-outside: polygon(76.88% 8.83%, 87.89% 25.35%, 82.02% 36.09%, 90.91% 46.34%, 92.6% 61.75%, 98.93% 62.36%, 98.43% 72.77%, 71.82% 85.76%, 51.82% 85.79%, 49.47% 0.26%);
  width: 320px;
}
@media only screen and (min-width: 769px) {
  .is-hero .clip-path {
    display: block;
  }
}
.is-hero .sequence {
  animation: coding 1.1s steps(12, end) infinite;
  background-size: cover;
  height: 300px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 320px;
}
@media only screen and (min-width: 769px) {
  .is-hero .sequence {
    left: 0;
    transform: none;
  }
}
.is-hero .typewriter {
  padding-bottom: 50px;
  position: relative;
  width: 230px;
}
.is-hero .typewriter h1 {
  animation: typing 1s 1.75s steps(9, end) forwards, blinkCursor 1s step-end infinite;
  border-right: 0.5rem solid #fff;
  color: #000;
  font-family: monospace;
  font-size: 36px;
  letter-spacing: 0.15rem;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
  white-space: nowrap;
}
@keyframes slideTextIn {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }
  16% {
    transform: translateX(-12.27%);
  }
  28% {
    transform: translateX(13.12%);
  }
  44% {
    transform: translateX(-4.63%);
  }
  59% {
    transform: translateX(1.64%);
  }
  73% {
    transform: translateX(-0.58%);
  }
  88% {
    transform: translateX(0.2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes coding {
  100% {
    background-position: 0 -4320px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkCursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
#modal .backdrop {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}
#modal .backdrop:hover {
  cursor: pointer;
}
@media only screen and (min-width: 769px) {
  #modal .backdrop {
    border: 15px solid #2962ff;
  }
}
#modal .backdrop .modal-self {
  max-width: 650px;
  width: 90%;
}
#modal .backdrop .modal-self .content {
  background: #fff;
}
.is-projects {
  background: #f6f6f6;
}
.is-projects .left-side {
  flex: 0 0 100%;
  padding-top: 30px;
}
@media only screen and (min-width: 769px) {
  .is-projects .left-side {
    flex: 0 0 65%;
    order: 1;
    padding: 0 3% 0 0;
  }
}
.is-projects .right-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-projects .right-side {
    flex: 0 0 35%;
    order: 2;
    padding: 0;
  }
}
.is-projects .cards {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-content: space-evenly;
}
.is-projects .cards .card {
  border: 4px solid #2962ff;
  box-shadow: 6px 6px 0 #2962ff;
  display: flex;
  flex-flow: column nowrap;
  height: 280px;
  margin: 12px;
  max-width: 350px;
  transition: box-shadow 0.05s ease-out 0.1s, transform 0.05s ease-out 0.1s;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .is-projects .cards .card {
    width: 235px;
  }
}
.is-projects .cards .card.active {
  box-shadow: 0 0 0 #2962ff;
  transform: translate(6px, 6px);
  transition: box-shadow 0.05s ease-out 0s, transform 0.05s ease-out 0s;
}
.is-projects .cards .card:hover .top .glass {
  opacity: 0;
}
.is-projects .cards .card .top {
  flex: 0 0 50%;
  overflow: hidden;
}
.is-projects .cards .card .top .glass {
  height: 100%;
  width: 100%;
  background: rgba(41, 98, 255, 0.9);
  opacity: 1;
  transition: opacity 0.35s;
  position: relative;
}
.is-projects .cards .card .top .glass:before,
.is-projects .cards .card .top .glass:after {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  display: block;
  height: 160%;
  position: absolute;
  transform: rotate(20deg);
  transform-origin: 50% 100%;
  z-index: 10;
}
.is-projects .cards .card .top .glass:before {
  right: 90px;
  top: -40px;
  width: 50px;
}
.is-projects .cards .card .top .glass:after {
  right: 60px;
  top: -40px;
  width: 15px;
}
.is-projects .cards .card .top img {
  display: block;
  width: 100%;
}
.is-projects .cards .card .bottom {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 50%;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 8px 0 5px;
  position: relative;
  user-select: none;
}
.is-projects .cards .card .bottom .text-group {
  padding: 6px 9px;
  text-align: center;
}
.is-projects .cards .card .bottom .text-group .title {
  color: #2962ff;
  font-size: 18px;
}
.is-projects .cards .card .bottom .text-group .separator {
  display: block;
  border-bottom: 2px solid #0091ea;
  margin: 10px auto;
  width: 35px;
}
.is-projects .cards .card .bottom .text-group .desc {
  color: #2962ff;
  font-size: 14px;
}
.is-projects .cards .card .bottom .tech-stack {
  background: #0091ea;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  left: 0;
  padding: 3px 0;
  position: absolute;
  width: 100%;
}
.is-projects .cards .card .bottom .tech-stack li {
  color: #fff;
  font-size: 14px;
  height: 20px;
  margin-right: 1px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}
.is-projects .cards .card:hover {
  cursor: pointer;
}
.is-projects .cards .card:hover .cta {
  opacity: 1;
}
.project-details {
  background: #fff;
  display: none;
  max-width: 604px;
  width: 95%;
}
.project-details:hover {
  cursor: auto;
}
.project-details.active {
  display: block;
  overflow: auto;
  max-height: 90vh;
}
.project-details.bit-style {
  border: 2px solid #2962ff;
}
.project-details .top {
  height: 35vh;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .project-details .top {
    height: 350px;
  }
}
.project-details .bottom {
  border-top: 2px solid #0091ea;
  position: relative;
}
.project-details .bottom .text-group {
  padding: 9px 15px 12px;
}
.project-details .bottom .text-group .title {
  font-size: 24px;
}
.project-details .bottom .text-group .subtitle {
  font-size: 14px;
  padding-top: 2px;
}
.project-details .bottom .text-group .description {
  padding: 10px 0 18px;
}
.project-details .bottom .text-group .links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.project-details .bottom .text-group .links .link {
  align-items: center;
  color: #2962ff;
  background: #f6f6f6;
  border: 1px solid #2962ff;
  display: flex;
  flex: 0 0 100%;
  flex-flow: row nowrap;
  font-size: 14px;
  height: 32px;
  justify-content: center;
  margin-bottom: 6px;
  transition: background 0.1s linear, color 0.1s linear;
}
@media only screen and (min-width: 600px) {
  .project-details .bottom .text-group .links .link {
    flex: 0 0 48%;
  }
}
.project-details .bottom .text-group .links .link:only-child {
  flex: 0 0 100%;
}
.project-details .bottom .text-group .links .link path {
  transition: fill 0.1s linear;
}
.project-details .bottom .text-group .links .link:hover {
  background: #0091ea;
  color: #fff;
  cursor: pointer;
}
.project-details .bottom .text-group .links .link:hover path {
  fill: #fff;
}
.project-details .bottom .text-group .links .link svg {
  margin-right: 9px;
}
.project-details .bottom .text-group .links .link.is-desktop-icon svg {
  width: 18px;
}
.project-details .bottom .text-group .links .link.is-github-icon svg {
  width: 22px;
}
.project-details .bottom .tech-stack {
  background: #0091ea;
  display: flex;
  flex-flow: row wrap;
  justify-self: flex-start;
  padding: 9px 0 3px;
}
.project-details .bottom .tech-stack .tech {
  color: #fff;
  box-shadow: 3px 3px 0 #2962ff;
  font-size: 14px;
  margin: 0 4px 6px 4px;
  padding: 6px 15px;
}
.project-details .close {
  background: transparent;
  border: none;
  bottom: 0;
  color: #fff;
  font-size: 32px;
  position: absolute;
  right: 0;
}
.project-details .close:hover {
  cursor: pointer;
  opacity: 0.75;
}
.is-toolset .left-side {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-toolset .left-side {
    flex: 0 0 35%;
  }
}
.is-toolset .left-side .star {
  color: #2962ff;
}
.is-toolset .toolset {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.is-toolset .toolset.right-side {
  flex: 0 0 100%;
  padding-top: 10px;
}
@media only screen and (min-width: 769px) {
  .is-toolset .toolset.right-side {
    flex: 0 0 65%;
    padding: 0 0 0 3%;
  }
}
.is-toolset .toolset .tool {
  flex: 0 0 20%;
  height: 165px;
  text-align: center;
  padding: 20px;
}
.is-toolset .toolset .tool:hover {
  background: #2962ff;
  cursor: pointer;
}
.is-toolset .toolset .tool:hover path,
.is-toolset .toolset .tool:hover circle {
  fill: #fff;
}
.is-toolset .toolset .tool:hover .separator {
  border-color: #fff;
  transform: translateY(36px);
}
.is-toolset .toolset .tool:hover .stars {
  font-size: 16px;
  opacity: 1;
}
.is-toolset .toolset .tool:hover .tool-name {
  color: #fff;
  transform: translateY(-36px);
}
.is-toolset .toolset .tool svg {
  width: 75px;
}
.is-toolset .toolset .tool path,
.is-toolset .toolset .tool circle {
  fill: #2962ff;
}
.is-toolset .toolset .tool .separator {
  display: block;
  border-bottom: 2px solid #2962ff;
  margin: 12px auto;
  transition: transform 0.25s ease-out;
  width: 30px;
}
.is-toolset .toolset .tool .stars {
  color: #fff;
  font-size: 0;
  opacity: 0;
  transition: opacity 0.25s ease-out 0.25s;
}
.is-toolset .toolset .tool .tool-name {
  color: #2962ff;
  font-size: 14px;
  transform: translateY(-20px);
  transition: transform 0.25s ease-out;
}
.is-education {
  background: #f6f6f6;
}
.is-education .title-group {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .is-education .title-group {
    flex: 0 0 35%;
    order: 2;
  }
}
.is-education .cards {
  display: flex;
  flex: 0 0 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-content: space-evenly;
}
@media only screen and (min-width: 769px) {
  .is-education .cards {
    flex: 0 0 65%;
    order: 1;
    padding-right: 3%;
  }
}
.is-education .card {
  box-shadow: 5px 5px 0 #000;
  margin: 12px;
  position: relative;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
  transition-delay: 0.45s;
  user-select: none;
  width: 210px;
}
.is-education .card.is-bell {
  box-shadow: 5px 5px 0 #00549a;
}
.is-education .card.is-bell:hover {
  box-shadow: 0 0 0 #00549a;
}
.is-education .card.is-cgi {
  box-shadow: 5px 5px 0 #c03;
}
.is-education .card.is-cgi:hover {
  box-shadow: 0 0 0 #c03;
}
.is-education .card.is-reitmans {
  box-shadow: 5px 5px 0 #000;
}
.is-education .card.is-reitmans:hover {
  box-shadow: 0 0 0 #000;
}
.is-education .card.is-jfandsons {
  box-shadow: 5px 5px 0 #6b3552;
}
.is-education .card.is-jfandsons:hover {
  box-shadow: 0 0 0 #6b3552;
}
.is-education .card:hover {
  cursor: pointer;
  box-shadow: 0 0 0 transparent;
  transform: translate(5px, 5px);
  transition-delay: 0s;
}
.is-education .card:hover .is-front,
.is-education .card:focus .is-front {
  transform: perspective(800px) rotateY(180deg);
}
.is-education .card:hover .is-back,
.is-education .card:focus .is-back {
  transform: perspective(800px) rotateY(0);
}
.is-education .card .company {
  font-size: 24px;
  font-weight: bold;
  flex: 0 0 20%;
  padding-top: 30px;
  text-align: center;
}
.is-education .card .summary {
  flex: 0 0 50%;
  text-align: center;
}
.is-education .card .summary p {
  padding-bottom: 3px;
}
.is-education .card .separator {
  border-color: #000;
}
.is-education .is-front,
.is-education .is-back {
  border: 4px solid #000;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.3s linear 0.15s;
}
.is-education .is-front {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  position: absolute;
  transform: perspective(800px) rotateY(0deg);
  z-index: 30;
}
.is-education .is-front img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.is-education .is-back {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px 10px;
  transform: perspective(800px) rotateY(-180deg);
}
.is-education .is-back p {
  padding: 0 6px 1px;
}
.is-education .side {
  height: 300px;
  width: 100%;
}
.is-education .position {
  margin: 0 auto;
  width: calc(100% - 30px);
}
.is-education .separator {
  border-bottom: solid;
  border-width: 2px;
  display: block;
  margin: 14px auto 16px;
  width: 38px;
}
.is-education .list {
  flex: 0 0 50%;
  width: 100%;
}
.is-education .list li {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  padding: 6px 12px;
}
.is-education .bell {
  border: 4px solid #00549a;
}
.is-education .bell h2,
.is-education .bell h3,
.is-education .bell p {
  color: #00549a;
}
.is-education .bell .separator {
  border-color: #00549a;
}
.is-education .bell li {
  background: #00549a;
}
.is-education .cgi {
  border: 4px solid #c03;
}
.is-education .cgi h2,
.is-education .cgi h3,
.is-education .cgi p {
  color: #c03;
}
.is-education .cgi .separator {
  border-color: #c03;
}
.is-education .cgi li {
  background: #c03;
}
.is-education .reitmans {
  border: 4px solid #000;
}
.is-education .reitmans h2,
.is-education .reitmans h3,
.is-education .reitmans p {
  color: #000;
}
.is-education .reitmans .separator {
  border-color: #000;
}
.is-education .reitmans li {
  background: #000;
}
.is-education .jfandsons {
  border: 4px solid #6b3552;
}
.is-education .jfandsons h2,
.is-education .jfandsons h3,
.is-education .jfandsons p {
  color: #6b3552;
}
.is-education .jfandsons .separator {
  border-color: #6b3552;
}
.is-education .jfandsons li {
  background: #6b3552;
}
.is-education .jfandsons .list:first-child {
  flex: 0 0 35%;
}
.is-education .jfandsons .list:last-child {
  flex: 0 0 65%;
}
